In [26]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [4]:
diab = load_diabetes()

In [11]:
X = diab.data
y= diab.target

In [12]:
y

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [15]:
df = pd.DataFrame(data= np.c_[diab['data'], diab['target']],
                  columns= diab['feature_names'] + ['Outcome'])

In [16]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Outcome
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [18]:
X = df[["age", "sex", "bmi"]]
y = df["Outcome"]

In [19]:
X

          age       sex       bmi
0    0.038076  0.050680  0.061696
1   -0.001882 -0.044642 -0.051474
2    0.085299  0.050680  0.044451
3   -0.089063 -0.044642 -0.011595
4    0.005383 -0.044642 -0.036385
..        ...       ...       ...
437  0.041708  0.050680  0.019662
438 -0.005515  0.050680 -0.015906
439  0.041708  0.050680 -0.015906
440 -0.045472 -0.044642  0.039062
441 -0.045472 -0.044642 -0.073030

[442 rows x 3 columns]

In [21]:
(X_train, X_test, y_train, y_test) = train_test_split(X,y,test_size = 0.3,
                                                     random_state = 100)

In [24]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [25]:
y_pred = model.predict(X_test)
y_pred

array([101.44163713,  71.89460932, 169.21094882, 109.62972377,
       154.77396821, 140.57766389, 101.85904217, 215.6324267 ,
       138.73432824, 236.57202389, 172.97956621, 181.99135557,
       226.14821485, 196.27770005, 119.50328047, 130.42342734,
        65.88833058, 126.92157888, 176.24073839, 212.39821177,
       218.83774543, 210.46095806,  89.07863543, 171.12318424,
       199.45606153,  95.40840115, 275.49433161, 133.77851758,
       181.80071588, 173.42586745, 147.21894461, 187.10697077,
       124.82064272, 112.97176769, 140.24306954, 166.25935269,
       195.6855052 , 136.32381603, 197.81533755, 222.9048315 ,
       108.92969992, 199.20233893,  92.20308242, 135.93142929,
       107.25921512, 143.15185854, 173.1952242 ,  67.62771514,
       206.24603943, 159.64696817, 209.54527622, 103.56953054,
       189.54444022, 140.91419719, 136.60449588, 140.08132605,
        53.40639252, 259.89711498, 133.56092064, 111.42302282,
       148.44226355, 104.25650807, 158.76018254, 196.15682474,
       178.15103485, 132.66108869, 120.10938625, 138.180198  ,
        90.70825204, 160.98005505, 143.13600866,  95.18163579,
       100.82442398, 163.21577745, 112.51155552, 163.82188324,
       128.16268664, 107.00355357, 125.19998315,  95.77189169,
       118.88412837, 139.25956228, 135.24445176,  95.1277213 ,
       115.93253224, 134.12896182, 176.90075867, 112.61938451,
        57.41956409, 121.15985433, 153.74851843, 141.16985874,
       118.76044949, 244.73509222,  78.03567429, 181.80265483,
        97.06691396, 214.60697692, 146.33022002, 119.28568353,
       136.74122108, 187.02803797, 104.78174211, 152.36345601,
       160.22805566, 132.9148113 , 138.67847479, 200.39870062,
       228.38393725,  85.49871879, 152.471285  , 156.46860669,
       114.61249167, 177.35622833, 154.05809448, 137.39930241,
       153.95026549, 115.85359944,  68.17990643, 122.04857892,
       169.02224808, 211.95384948, 123.57036654, 214.40716882,
       213.66627679, 132.99762199, 234.68674572, 155.24528776,
       209.43550828, 127.11221857, 161.88462952, 181.47722889,
       312.55637946])

In [27]:
with open("pickle_diabetes.pkl","wb") as file:
    pickle.dump(model,file)

In [28]:
with open('pickle_diabetes.pkl','rb') as f:
    Pickled_model_file = pickle.load(f)